ol,ul {
	list-style: none;
}

body {
  background-color: lightblue;
}


div {
  background-color: lightblue;
}

p {
  display: block;

  
}



H1 { text-align: center }

#mainMenu {
	margin-left:370px; /* negative margin equal to half the width */
	width: 900px;
	font-family: sans-serif;
	text-align: center

}



#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;

}

#mainMenu a:hover {
	background-color:#009;
	color:#fff;
}
